


body {
    background-color:#F0F2FA;
}



header {
    width: 100%;
    height: 60px;
    background-color: white;
    margin-left: 5rem;
}

#searchbox{
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    margin: 10px 5px 5px 15px;
    background-color: white;
}


#barchart_material {
   margin: 50px 0px 0px 280px;
  width: 700px;
  height: 400px;
    
  
}

.container_stats {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 20em;
    
    
}





