
body {
    background-color: #00afe6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}

#main {
    background-color: #F0F2FA;
}

#logoyt {
    padding-top: 2em;
    padding-left: 5em;
    width: 100px;
    height: 100px;
    position: absolute
   
    
}

#logomate {
    position: absolute;

}





.sign {
    width: 50%;
    height: 50%;
    top: 50%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 3em;
    width: 25%

}

#sign_elements {
    font-family: sans-serif;
    font-size: small;
}


#btn-sign {
    color: white;
    background-color: #00afe6;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    width: 100%;
}




#logomate {
    background-color: #00afe6;
    position: absolute;
    width: 11%;   
    
}
footer {
    margin-top: 2em
}
#footer-text{
    
    font-family: sans-serif;
    color: rgb(227, 230, 245);
    font-size: 8px;
    margin:auto;

}





#sidebar {
    width: 200px;
    background: #161624;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 8px;
    transition: left 0.2s ease;
    
  }


  #iconsidebar {
      left: 0;
      width: 3%;
      position: absolute;
      background-color: #161624;
      height: 100%;
      top: 0px
  }
  
  #sidebar.visible {
    left: 0px;
    transition: left 0.7s ease;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 10px 0px 10px 0px;
    background: #161624;
    border-bottom: 5px solid #161624;
  }
  
  li a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-radius:2cm
  }
  
  #sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    right: -60px;
    top: 0px;
  }
  
  #sidebar-btn span {
    background-color:#161624;
    height: 1px;
    display: block;
    margin-bottom: 5px;
  }

  
  #sidebar-btn span:nth-child(2) {
    width: 75%;
  }

#sidebar-header {
    width: 50%;
    margin-left: 30px;
}

#user {
    position: absolute;
    left: 7.91%;
    right: 7.91%;
    top: 85%;
    bottom: 5%;
    text-align: right;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8.52083px;
    height: 10%;

}

#imguser {
    position: absolute;
left: 7.14%;
right: 7.14%;
top: 15%;
bottom: 7.14%;
border-radius: 50%;
width: 25%;


}

#user span:nth-child(1) {
    position: absolute;
    width: 70px;
    height: 15px;
    left: 55px;
    bottom: 32px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    

    color: #FFFFFF;
}

#user span:nth-child(2) {
    position: absolute;
    width: 70px;
    height: 15px;
    left: 63px;
    bottom: 50px;
    top: 30px;
    
    font-family: Inter;
    
    font-weight: lighter;
    font-size: 8px;
    

}

i {
    margin-right: 10px;
    margin-left: 10px
}


.container {
    display: flex;
    flex-direction: row;
    margin-left:20%;
    margin-top: 8%;
    width: 100%;
    height: 30%;
    
}



.quickstats {
    display: flex;
   width: 20%;
   background-color: white;
   color: black;
    padding: 10px;
    margin: 10px;

}


#dash {
    /*TITLE*/
    position: absolute;
font-weight: bold;
font-style: normal;
color: #171717;
margin: 0;
padding: 0;
margin-left: 20%;
margin-top: 7%
}


#candidates span  {
    padding: 10px;
}

#votes span {
    padding: 10px
}

#votesleft span {
    padding: 10px;
}


#whiteheader {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: white;
    top: 0;

}

#search {
    margin-left: 300px;
    margin-top: 11px;
}

#graph {
    margin-left: 280px;
    background-color: white;
    width: 900px;
    color: black;
  height: 180px;
}